div {
    scale: 120%;
    margin-bottom: 30px;
    margin-top: 50px;
}

html,
body {
    height: 100%;
    width: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    align-content: center;
    background-color: rgb(58, 58, 58);
    margin-bottom: 30px;
}